<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pink noise for mel</title>
    <script src="https://unpkg.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
    <script src="/static/bundle.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/pink-main.css">
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li id="nav-pink">pink noise for mel</li>
        <li id="nav-about">about</li>
      </ul>
    </nav>
    <div id="pink-noise-for-mel">
      <canvas id="oscilloscope" height="300px" width="600px"></canvas>
      <div class="gain-control-wrap">
        <div id="pink-amount" class="gain-control">
          <div class="slider"></div>
        </div>
        <p>pink</p>
      </div>
      <div class="gain-control-wrap">
        <div id="mic-amount" class="gain-control">
          <div class="slider"></div>
        </div>
        <p>mic</p>
      </div>
      <div class="gain-control-wrap">
        <div id="master-volume" class="gain-control">
          <div class="slider"></div>
        </div>
        <p>master</p>
      </div>
      <p id="microphone"></p>
    </div>
    <div id="about">
      <div class="about-main">
        <p>pink-noise-for-mel is a performance tool for the poet Mel Nichols. As she reads from her project, <span class="italic">Pink Noise</span>, she modulates the amount by which her microphone input is obscured by pseudo-random spikes and troughs in the visible waveform. Known for its eerily synthetic evocation of the sound of rushing water or rustling leaves, the interplay or overlay of pink noise with or on the human voice suggests the terrifyingly lovely dumb revenge of nature's impartiality. As of this writing, only Firefox and Chrome support microphone access.</p>
        <a href="https://github.com/CSomerville/pink-noise-for-mel">
          <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg>
        </a>
      </div>
    </div>
  </body>
</html>
